@font-face{
    font-family: Kanisah;
    src: url('/assets/fonts/Kanisah.ttf');
}

.background{
    background-image: url(/assets/images/jerusalem-background.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 100px;
    height: calc(100% - 100px);
    width: 100%;
}

#welcome-message {
    position: absolute;
    margin: calc(50vh - 220px);
    font-size: 200px;
    text-align: center;
    vertical-align: middle;

    background-image: linear-gradient(180deg, rgb(122, 122, 255), rgb(255, 208, 122));
    font-family: 'Kanisah';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;

}

#shadow-welcome-message {
    position: absolute;
    margin: calc(50vh - 220px);
    font-size: 200px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Kanisah';
    color: rgba(0, 0, 0, 0.5);
    transform: translate(5px, 5px);
    user-select: none;
}