<header>
    <nav>
        <div class="left-nav">
            <a class="nav-item" href="/"> Home</a>
        </div>
    
        <div class="right-nav">
            <a class="nav-item" href="/blog">Blog</a>
            <a class="nav-item" href="/gallery">Gallery</a>
            <span class="nav-item has-children">
                External Links
                <ul class="nav-dropdown">
                    <li><a class="dropdown-item last-dropdown-item" href="https://try.ramah.org.il/" target="_blank">Official TRY Website</a></li>
                </ul>
            </span>
            <a class="nav-item" href="/about">About</a>
        </div>
    </nav>
</header>