<header>
    <nav id="nav">
        <div id="open-close-menu">≡</div>
        <div class="left-nav">
            <div class="nav-item" onclick="window.location='/';">Home</div>
        </div>
    
        <div class="right-nav">
            <div class="nav-item" onclick="window.location='/blog';">Blog</div>
            <!-- <div class="nav-item" onclick="window.location='/gallery';">Gallery</div> -->
            <div class="nav-item has-children">
                External Links
                <ul class="nav-dropdown">
                    <li><a class="dropdown-item" href="https://try.ramah.org.il/" target="_blank">Official TRY Website</a></li>
                    <li><a class="dropdown-item last-dropdown-item" href="https://www.youtube.com/channel/UC7XCsvQ6JhQUi5QHazw0EnA" target="_blank">Jacob Sanchez TRY Vlog</a></li>
                </ul>
            </div>
            <div class="nav-item" onclick="window.location='/subscribe';">Subscribe</div>
            <!-- <div class="nav-item" onclick="window.location='/about';">About</div> -->
        </div>
    </nav>
</header>