<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {% if layout.scripts %}
        {% for script in layout.scripts %}
            <script src="{{ site.baseurl }}/scripts/{{ script }}.js"></script>
        {% endfor %}
    {% endif %}
  </body>

</html>