---
layout: default
title: Blog
stylesheets:
  - post
scripts:
  - blog-post
---
<img src="/assets/images/blog-background.jpg" class="background" alt="">
<div id="background-tint"></div>
<button id="menu-button">►</button>
<div class="container" id="large-screen">
    <div class="menu">
        {% for post in site.blog_posts reversed limit: 10 %}
        <li class="menu-item">
          <a href="{{ post.url }}"><img class="menu-post-image" src="{{ post.main-image }}" alt=""></a>
          <p><h2><a class="menu-post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
            {{ post.date | date: '%b %-d %Y' }} <br>
            <i>{{ post.description }}</i></p>
        </li>
      {% endfor %}
    </div>
    <div class="container">
      <div class="text">
        <img class="top-image" src="{{ page.main-image }}" alt="">
        <h1 class="title">{{ page.title }}</h1>
        {{ content | markdownify }}
      </div>
    </div>
    <div class="sidebar">
        <img class="profile-pic" src="{{ page.author.picture-url }}" alt="">
        <p class="post-info"><div style="max-width: 200px;">{{ page.author.name }}
            <br>
            {{ page.date | date: '%B %-d, %Y' }}
            <br>
        {{ page.location }}</div></p>

        {% for post in site.blog_posts %}
        {% if page.date == post.date %}
          {% assign prev_index = forloop.index0 | minus: 1 %}
          {% assign next_index = forloop.index0 | plus: 1 %}
        {% endif %}
      {% endfor %}

       {% if prev_index >= 0 %}
        {% assign date = site.blog_posts[prev_index].date | date: "%Y-%m-%d" %}
        <button onclick="location.href = '/blog/{{ date }}'">Prev</button>
       {% endif %}
       {% if next_index < site.blog_posts.size %}
        {% assign date = site.blog_posts[next_index].date | date: "%Y-%m-%d" %}
        <button class="next-button" onclick="location.href = '/blog/{{ date }}'">Next</button>
       {% endif %}
    </div>
</div>

<div class="container" id="small-screen">
  <div class="sidebars">
    <div class="menu">
      {% for post in site.blog_posts reversed limit: 10 %}
      <li class="menu-item">
        <a href="{{ post.url }}"><img class="menu-post-image" src="{{ post.main-image }}" alt=""></a>
        <p><h2><a class="menu-post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
          {{ post.date | date: '%b %-d %Y' }} <br>
          <i>{{ post.description }}</i></p>
      </li>
      {% endfor %}
    </div>
    <div class="sidebar">
      <img class="profile-pic" src="{{ page.author.picture-url }}" alt="">
      <p class="post-info">{{ page.author.name }}
          <br>
          {{ page.date | date: '%B %-d, %Y' }}
          <br>
      {{ page.location }}</p>

      {% for post in site.blog_posts %}
        {% if page.date == post.date %}
          {% assign prev_index = forloop.index0 | minus: 1 %}
          {% assign next_index = forloop.index0 | plus: 1 %}
        {% endif %}
      {% endfor %}

       {% if prev_index >= 0 %}
        {% assign date = site.blog_posts[prev_index].date | date: "%Y-%m-%d" %}
        <button onclick="location.href = '/blog/{{ date }}'">Prev</button>
       {% endif %}
       {% if next_index < site.blog_posts.size %}
        {% assign date = site.blog_posts[next_index].date | date: "%Y-%m-%d" %}
        <button class="next-button" onclick="location.href = '/blog/{{ date }}'">Next</button>
       {% endif %}
    </div>
  </div>
  <div class="text">
      <img class="top-image" src="{{ page.main-image }}" alt="">
      <h1 class="title">{{ page.title }}</h1>
      {{ content | markdownify }}
  </div>
</div>
