---
layout: default
title: Blog
stylesheets:
  - post
scripts:
  - blog-post
---
<img src="/assets/images/blog-background.jpg" class="background" alt="">
<div id="background-tint"></div>
<button id="menu-button">►</button>
<div class="container">
    <div id="menu">
        {% for post in site.blog_posts limit: 10 %}
        <li class="menu-item">
          <a href="{{ post.url }}"><img class="menu-post-image" src="{{ post.main-image }}" alt=""></a>
          <p><h2><a class="menu-post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
            {{ post.date | date: '%b %-d %Y' }} <br>
            <i>{{ post.description }}</i></p>
        </li>
      {% endfor %}
    </div>
    <div class="text">
        <img id="top-image" src="{{ page.main-image }}" alt="">
        <h1 id="title">{{ page.title }}</h1>
        {{ content | markdownify }}
    </div>
    <div class="sidebar">
        <img id="profile-pic" src="{{ page.author.picture-url }}" alt="">
        <p>{{ page.author.name }}
            <br>
            {{ page.date | date: '%B %-d, %Y' }}
            <br>
        {{ page.location }}</p>
        <button>Prev</button>
        <button id="next-button">Next</button>
    </div>
</div>
